@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "mixin";
* {
  margin: 0;
  padding: 0;
}

$blackColor: #070707;
$whiteColor: #fffefe;
$violetColor: #c020fa;
$grayColor: #302d2d;

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: $blackColor;
}
body::-webkit-scrollbar-thumb {
  background-color: $whiteColor;
}

body {
  font-family: "Poppins", sans-serif;
}
.cards {
  @include flexCenter(row);
  margin: 1em;
}
.card {
  margin: 1em;
  width: 220px;
  height: 400px;
}
.carddiv {
  height: 400px;
  background-color: $violetColor;
  border-radius: 0.5em;
}
form {
  margin: 1em;
  input,
  button {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 0.5em 0 0 0.5em;
    color: $whiteColor;
    background-color: $grayColor;
  }
  button {
    background-color: $violetColor;
    color: $whiteColor;
    cursor: pointer;
    border-radius: 0 0.5em 0.5em 0;
  }
}
.img {
  width: 220px;
  height: 300px;
  border-radius: 0.5em 0.5em 0 0;
}
.topcards {
  @include flexCenter(row);
}

.navbar {
  height: 100vh;
  .topcards {
    background-color: black;
  }
}
.arrow {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 2;
  width: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

//SINGLEVIEW
.singleview {
  color: White;
  margin-top: 3em;
  .opend {
    margin: 3em;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  img {
    width: 200px;
    height: 300px;
    border-radius: 0.5em;
  }
  .genre {
    button {
      padding: 0.5em;
      background-color: transparent;
      -webkit-tap-highlight-color: transparent;
      border: 1px solid $violetColor;
      color: white;
      border-radius: 0.5em;
      margin: 0.3em;
    }
  }
  .contentview {
    margin: 1em;
  }
  .description {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2em;
    .desc {
      margin: 1em;
    }
  }
  .cast {
    @include flexCenter(row);
  }
  .trailer {
    padding: 1em;
  }
  .characters {
    .content {
      margin: 0.5em;
      border: 1px solid $violetColor;
      padding: 0.5em;
      border-radius: 0.5em;
      p {
        font-size: 12px;
        color: white;
      }
      .castimg {
        width: 100px;
        height: 150px;
        margin: 1em;
      }
    }
  }
}
.title {
  color: violet;
  font-size: 32px;
  text-align: left;
  padding: 0.3em 2em;
}
@media (max-width: 600px) {
  div.ui.cards {
    grid-template-columns: none;
  }
  .title {
    text-align: center;
  }
  .singleview {
    .opend {
      grid-template-columns: none;
    }
    .description {
      grid-template-columns: none;
    }
  }
}
